    <div class="container" ng-style="{'background': bgImage}" >
       <div class="header">       <h3> Weather</h3>    </div>



    

 <div class="city-weather">



        <ul class="toolbar clearfix">
            <li ng-click="getLocation()"class="location-btn" >
                <button type="submit">
                <span class="fa fa-location-arrow"></span>
                </button>
             
            </li>

            <li class="search-box">
              
              <span class="search-btn" ><button id="btn-search" type="submit"><span ng-click="getCityPosition()" class="fa fa-search "> </span></button></span>

              <span class="search-bar">  <input id="search" placeholder="Enter City Name " type="search"></span>
            </li>


          
        </ul>

            
        
    </div>

        <div class="weather-details" id="weatherToday"  ng-show="weatherToday === true" >
            <div  class="current-weather">
                <span><canvas class="weather-icon" height="64" id=
                "js-weather-icon" width="64"></canvas></span> <span class=
                "weather-temp">{{currentTemperature}}°C</span><br>
                <span>{{summary}}</span> <span>Feels Like{{feelsLike}}°C</span>

                <div>
                    <span class="date-location">{{date | date:'EEEE MMMM
                    d'}}<br>
                    {{location}}</span>
                </div>
            </div>
        </div>

        <div class="weather-details" id="daysWeather" ng-show="daysWeather === true" >

            <div class="weekly-weather">
              
                     <div class="boxer dayWeather">

                        <div class="box-row">
                            <div class="box">{{Day[0]}}</div>
                            <div class="box"><canvas class="weather-icon" height="32" id="day0-icon" width="32"></canvas></div>
                            <div class="box">Max: {{weeklyWeather[0].temperatureMax}}°C </div>
                            <div class="box"> Min:{{weeklyWeather[0].temperatureMin}}°C</div>
                        </div>

                        <div class="box-row">
                            <div class="box">{{Day[1]}}</div>
                            <div class="box"><canvas class="weather-icon" height="32" id="day1-icon" width="32"></canvas></div>
                            <div class="box">Max: {{weeklyWeather[1].temperatureMax}}°C </div>
                            <div class="box"> Min:{{weeklyWeather[1].temperatureMin}}°C</div>
                        </div>


                        <div class="box-row">
                            <div class="box">{{Day[2]}}</div>
                            <div class="box"><canvas class="weather-icon" height="32" id="day2-icon" width="32"></canvas></div>
                            <div class="box">Max: {{weeklyWeather[2].temperatureMax}}°C </div>
                            <div class="box"> Min:{{weeklyWeather[2].temperatureMin}}°C</div>
                        </div>


                        <div class="box-row">
                            <div class="box">{{Day[3]}}</div>
                            <div class="box"><canvas class="weather-icon" height="32" id="day3-icon" width="32"></canvas></div>
                            <div class="box">Max: {{weeklyWeather[3].temperatureMax}}°C </div>
                            <div class="box"> Min:{{weeklyWeather[3].temperatureMin}}°C</div>
                        </div>


                        <div class="box-row">
                            <div class="box">{{Day[4]}}</div>
                            <div class="box"><canvas class="weather-icon" height="32" id="day4-icon" width="32"></canvas></div>
                            <div class="box">Max: {{weeklyWeather[4].temperatureMax}}°C </div>
                            <div class="box"> Min:{{weeklyWeather[4].temperatureMin}}°C</div>
                        </div>


                        <div class="box-row">
                            <div class="box">{{Day[5]}}</div>
                            <div class="box"><canvas class="weather-icon" height="32" id="day5-icon" width="32"></canvas></div>
                            <div class="box">Max: {{weeklyWeather[5].temperatureMax}}°C </div>
                            <div class="box"> Min:{{weeklyWeather[5].temperatureMin}}°C</div>
                        </div>


                        <div class="box-row">
                            <div class="box">{{Day[6]}}</div>
                            <div class="box"><canvas class="weather-icon" height="32" id="day6-icon" width="32"></canvas></div>
                            <div class="box">Max: {{weeklyWeather[6].temperatureMax}}°C </div>
                            <div class="box"> Min:{{weeklyWeather[6].temperatureMin}}°C</div>
                        </div>
                       
                    </div>
  
            </div>
        </div>





    <div class="btn-container">
        <div class="btn-weekly" ng-click="showToday()">
           <span class="btn-txt"> Today<span>
        </div>

        <div class="btn-weekly-week" ng-click="showWeek()">
            <span class="btn-txt"> Week<span>
        </div>
    </div>


</div>