    <div class="container" ng-style="{'background': bgImage}" >
       <div class="header">       <h3> Weather</h3>    </div>



    

 <div class="city-weather">



        <ul class="toolbar clearfix">
            <li ng-click="getLocation()"class="location-btn" >
                <button type="submit">
                <span class="fa fa-location-arrow"></span>
                </button>
             
            </li>

            <li class="search-box">
              
              <span class="search-btn" ><button id="btn-search" type="submit"><span ng-click="getCityPosition()" class="fa fa-search "> </span></button></span>

              <span class="search-bar">  <input id="search" placeholder="Enter City Name " type="search"></span>
            </li>


          
        </ul>

            
        
    </div>

        <div class="weather-details" id="weatherToday"  ng-show="weatherToday === true" >
            <div  class="current-weather">
                <span><canvas class="weather-icon" height="64" id=
                "js-weather-icon" width="64"></canvas></span> <span class=
                "weather-temp">{{currentTemperature}}°C</span><br>
                <span>{{summary}}</span> <span>Feels Like{{feelsLike}}°C</span>

                <div>
                    <span class="date-location">{{date | date:'EEEE MMMM
                    d'}}<br>
                    {{location}}</span>
                </div>
            </div>
        </div>

        <div class="weather-details" id="daysWeather" ng-show="daysWeather === true" >

            <div class="weekly-weather">
              
                     <div class="boxer dayWeather" ng-repeat="Day in DailyData | limitTo: 7" weather-directive="ngRepeatFinished">

                        <div class="box-row">
                            <div class="box" ><span>{{Day.day}}</span></div>
                            <div class="box"><canvas class="weather-icon" height="32" id="{{Day.day}}-icon" width="32"></canvas></div>
                            <div class="box">Max: {{Day.temperatureMax}}°C </div>
                            <div class="box"> Min:{{Day.temperatureMin}}°C</div>
                        </div>

                        
                       
                    </div>
  
            </div>
        </div>





    <div class="btn-container">
        <div class="btn-weekly" ng-click="showToday()">
           <span class="btn-txt"> Today<span>
        </div>

        <div class="btn-weekly-week" ng-click="showWeek()">
            <span class="btn-txt"> Week<span>
        </div>
    </div>


</div>